attrs==22.2.0
-e git+ssh://git@github.com/quickvm/bupy.git@b330982c07004e683751812438c14459ccabe392#egg=bupy
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
iniconfig==2.0.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.0
pluggy==0.13.1
Pygments==2.14.0
pyparsing==3.0.9
pytest==7.2.2
pyxdg==0.28
rich==12.6.0
ruamel.yaml==0.17.21
shellingham==1.5.0.post1
typer==0.7.0
urllib3==1.26.14
